<div class="form-group row receipt_table_block">
    <div class="col-sm-12 col-form-label receipt_table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Заказ</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Товар</th>
                <th scope="col">Артикул</th>
                <th scope="col">Производитель</th>
                <th scope="col">Количество в заказе</th>
                <th scope="col">Цена</th>
                <th scope="col">Принять</th>
            </tr>
            </thead>
            <tbody>
            {% for order in data.orders %}
                <tr>
                    <td>{{ order.order.id }}-{{ order.number }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.article }}</td>
                    <td>{{ order.vendor }}</td>
                    <td class="quantity">{{ order.quantity }}</td>
                    <td>{{ order.price }}</td>
                    <td>
                        <div>
                            <input type="number" data-id="{{ order.id }}" data-quantity="{{ order.quantity }}" name="order[{{ order.id }}]" value="{{ order.quantity }}">
                            <button type="button" name="receipt" value="yes">Принять</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tbody class="receipted_order">
                {% if data.receipts is defined %}
                    {% for receipt in data.receipts %}
                        <tr>
                            <td>{{ receipt.orderItem.order.id }}-{{ receipt.orderItem.number }}</td>
                            <td>{{ receipt.orderItem.user.username }}</td>
                            <td>{{ receipt.orderItem.name }}</td>
                            <td>{{ receipt.orderItem.article }}</td>
                            <td>{{ receipt.orderItem.vendor }}</td>
                            <td class="quantity">{{ receipt.quantity }}</td>
                            <td>{{ receipt.orderItem.price }}</td>
                            <td>
                                <div>
                                    <input type="number" data-id="{{ receipt.orderItem.id }}" data-quantity="{{ receipt.quantity }}" value="{{ receipt.quantity }}">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).on('change', '.receipt_select_supplier', function () {
        var supplier = $(this).val();
        var data = {supplier:supplier};
        $.ajax({
            type: 'POST',
            url: '{{ path('sonata_admin_receipt_orders') }}',
            data: data
        }).done(function (data) {
            $('.receipt_table_block').html($(data.html).find('.receipt_table'));
        });
    })
    $(document).on('click', 'button[name="receipt"]', function () {
        var tr = $(this).closest('tr');
        var clonetr = tr.clone();
        var parrent = $(this).closest('div');
        var input = parrent.find('input');
        var id = input.data('id');
        var allquantity = input.data('quantity');
        var quantity = input.val();
        var receiptInput = $('.receipted_order').find('[name="receipt['+id+']"]');
        if(allquantity<=quantity){
            tr.remove();
        }else{
            input.data('quantity', allquantity-quantity);
            input.val(allquantity-quantity);
            tr.find('td.quantity').html(allquantity-quantity)
        }
        console.log(receiptInput.length>0);
        if(receiptInput.length>0){
            var q = parseInt(receiptInput.val());
            receiptInput.val(q+parseInt(quantity))
            receiptInput.closest('tr').find('td.quantity').html(q+parseInt(quantity))
        }else{
            clonetr.find('input').attr('name', 'receipt['+id+']');
            clonetr.find('td.quantity').html(quantity)
            $('.receipted_order').prepend(clonetr);
        }

    })
</script>